.c-banner{
    background: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/futcoins/banner-futcoin.png');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}