
@mixin md{
    @media (min-width: 1200px) { @content; }
}

.c-use{
    padding:60px 0px;
    background-color: #192C53;

    .box-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
    }
    .use{
        &-title{
            font-size: 50px;
            font-weight: 700;
            color: #FFF;
            margin-bottom: 0;
            text-align: center;
        }
        &-subtitle{
            font-size: 20px;
            font-weight: 300;
            padding-top: 8px;
            text-align: center;
            color: #FFF;
        }

        &-card{
            border:1px #2954AD solid;
            border-radius: 10px;
            background-color:#0E1B36 ;
            padding: 50px;
            height: 200px;
            position: relative;
            width: 250px;
        }
        &-stape{
            background-color: #03E44A;
            color:#192C53 ;
            padding: 5px 10px;
            border-radius: 5px;
            position: absolute;
            top: -20px;
            font-weight: 700;
            left: 50%;
            transform: translate(-50%);
        }
        &-describe{
            color: #fff;
            text-align: center;
        }
    }

    .cupom{
        .item{
            margin-left: 16px;
        }
    }
}