
@mixin md{
    @media (min-width: 1200px) { @content; }
}
$color-secondary: #939393;
$black: #000000;
$gray: #757575;
$gray-light: #404040;
$gray-dark: #262626;
$gray-darker: #1F1F1F;
$white: #D7D7D7;

header{
        color: #000000;
    .logo{
        color: #939393;
    }
    .menu-mob-open {
        color: $white;
    }
    .header-top{
        background-color: #000000;

        .header-infos{
            background-color: #000000;
            
            
            .link-inter{
                .icon-link-inter{
                    color: #939393;
                }
                &:hover{
                    a{
                        background-color:#939393 ;
                        color: #000000;
                    }
                    .icon-link-inter{
                        color: #000000;
                    }
                }
            }
        }
        .header-nav{
            background-color: #000000;
            border: 1px solid #939393;
            border-left: none;
            border-right: none;
            nav{
                ul{
                    li{
                        &.hover{
                            a{
                                &::before{
                                    background-color: #939393;
                                }
                            }
                        }
                        .child-container{
                            background-color: #000000;
                            ul{
                                li{
                                    .menu-title{
                                        color: #FFFFFF!important;
                                    }
                                    .see-all{
                                        color: #939393;
                                    }
                                }
                                .menu-links{
                                    a{
                                        background-color: #939393;
                                        color: #000000;

                                        &:hover{
                                            background-color: #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }                
                        a {
                            color: #939393;
                        }
                    }
                }
            }
        }
    }
    
    .links-usuario{ 
        a {
        color: #939393;
        }
        .central{
            .menu-central{
                background-color: #000000;
                a{
                    color: #939393;
                }
            }
        }
        .cart-header{
            .menu-cart, .cart-note {
				.cart-products, .cart-added {
					li{
						.product-data {
							h3 {
								color: #939393;
							}
							.product-price {
								color: #939393;
								
							}
						}
					}
				}
				
			}
            .menu-cart{
                background-color: #000000;
                border: 1px solid #939393;

                .cart-products{
                    .product-data{
                        h3{
                            color: #939393;
                        }
                        .product-price{
                            color: #939393;
                        }
                    }
                }
                .cart-subtotal{
                    color: #939393;
                }
                a{
                    background-color: #939393;
                    color: #000000;
                }
            }
        }
    }
    
}
@media (max-width: 991px) {
	header {
		.header-nav {
			nav {
				.nav-top {
					background: $black;
					color: $white;
					i {
						color: $white;
					}
				}
				ul {
					background: #1F1F1F;

					li {
						border-color: $gray-light;

						i {
							color: $gray;
						}

						&.link-user {
							background: $color-secondary;

							a, i {
								color: $black;
							}
						}

						&.back {
							background: $color-secondary;
							color: $black;

							i {
								color: $black;
							}
						}

						a {
							color: $white;
							
							&.link-inter {
								border-color: $white !important;
							}
						}

						&.menu-feature {
							background: #333333;

							a {
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	footer {
		background: black;
		color: $gray-light;
		border-top: 1px solid $gray;
		.footer-menus {
			h3[data-toggle="collapse"] {
				border-color: $gray-light;

				i {
					color: $gray;
				}
			}

			ul {
				border-color: $black;
			}
		}
	}
}

p{
    margin-bottom: 0px;
}
.topo{
    position: absolute;
    width: 100%;
    height: 300px;
    .img-top{
        width: 100%;
        position: absolute;
        top: 0px;
        height: 300px;
    }
}
.c-home{
    background-color:#FFFFFF;
    min-height: 80vh; 
    display: flex;
    align-items: center;
    justify-content: center;

    @include md{
        background-color:#FFFFFF;
    }
    .home{
        &-icon{
            position:absolute;

            &-cart{
                top: -150%;
                left: 5%;
                height: 120px;
                animation: pulse 3s ease-in-out infinite;

                @keyframes pulse {
                    0%{
                        transform: scale(1) rotate(0deg);
                    }
                    50%{
                        transform: scale(1.1) rotate(30deg);
                        }
                    100%{
                        transform:scale(1) rotate(0deg);
                    }      
                }

                @include md{
                    height: 170px;
                    top: -80%;
                    left: 5%;
                }
            }
            
            &-star_minor{
                bottom: 0%;
                left: 10%;
                animation: brilhar 2s ease-in-out infinite;

                @keyframes brilhar {
                    0%{
                        transform: scale(1) ;
                    }
                    50%{
                        transform: scale(1.3) ;
                        }
                    100%{
                        transform:scale(1);
                    }      
                }

                @include md{
                    bottom: -40%;
                }
            }

            &-discount{
                bottom: -140%;
                left: 5%;
                width: 135px;
                animation: discount 2s ease-in-out infinite;

                @keyframes discount {
                    0%{
                        transform: rotate(0deg) ;
                    }
                    50%{
                        transform: rotate(10deg) ;
                        }
                    100%{
                        transform:rotate(0deg);
                    }      
                }

                @include md{
                    bottom: -70%;
                    left: 15%;
                    width: 150px;
                }
            }

            &_risco{
                top: 41%;
                left: 55%;
                width: 150px;
                

                @include md{
                    top: 41%;
                    left: 50%;
                    width: 270px;
                }
            }

            &-star_bigger{
                left: 31%;
                height: 70px;
                bottom: -7%;
                animation: brilhargrande 3s ease-in-out infinite;
                display: none;

                @keyframes brilhargrande {
                    0%{
                        transform: scale(1) ;
                    }
                    50%{
                        transform: scale(1.2) ;
                        }
                    100%{
                        transform:scale(1);
                    }      
                }
                @include md{
                    display: block;
                }
            }
            &-star_bigger-right{
                right: 10%;
                top: -40%;
                animation: brilhargrande 3s ease-in-out infinite;
                height: 50px;

                @keyframes brilhargrande {
                    0%{
                        transform: scale(1) ;
                    }
                    50%{
                        transform: scale(1.2) ;
                        }
                    100%{
                        transform:scale(1);
                    }      
                }

                @include md{
                    height: 70px;
                }
            }
            &-star_minor-right{
                top: -60%;
                right: 20%;
                animation: brilhar 2s ease-in-out infinite;

                @keyframes brilhar {
                    0%{
                        transform: scale(1) ;
                    }
                    50%{
                        transform: scale(1.3) ;
                        }
                    100%{
                        transform:scale(1);
                    }      
                }
            }
            &-cupom{
                right: 8%;
                bottom: -85%;
                width: 120px;
                animation: cupom 3s ease-in-out infinite;

                @keyframes cupom {
                    0%{
                        transform: scale(1) ;
                    }
                    50%{
                        transform: scale(1.1);
                        }
                    100%{
                        transform:scale(1);
                    }      
                }

                @include md{
                    bottom: -65%;
                    width: 150px;
                }
            }
        }
        &-title{
            text-align: center;
            font-size: 42px;
            color: #000000;
            z-index: 2;


            @include md{
                font-size: 70px;
            }
        }
    }
    .container-title{
        display: flex;
        justify-content: center;
    }
    .box-title{
        position: relative;
        display: flex;
        justify-content: center;
        
        @include md{
            width: 60%;
        }
    }
        
}
